*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.conteiner__content{
    width: 80%;
    max-width: 1140px;
    margin: 0px auto;
}
.header .conteiner__content{
    display: grid;
    grid-template-columns: 299px auto 160px;
    align-items: center;
    padding: 46px 0;
}
h1{
    font-weight: bold;
    font-size: 80px;
}
.section__description{
    font-weight: normal;
    font-size: 24px;
}
.logo__title{
    font-weight: bold;
    font-size: 20px;
    margin-left: 14px;
}
.logo__subtitle{
    font-weight: normal;
    font-size: 16px;
    color: #2B292D;
    opacity: 0.6;
    margin-left: 14px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.logo{
    display: grid;
    grid-template-columns: 60px 236px;
    grid-template-rows: 66px;
    align-items: center;
}
.logo__icon{
    width: 60px;
    height: 60px;
    border: 6px solid transparent;
    border-radius: 22px;
    transition: 1s linear;   
}
.logo__icon:hover{
    border: 6px solid rgb(38, 255, 9);
    border-radius: 22px;
    transition: 1s;
}
.nav ul{
    display: grid;
    width: 276px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: 55px;
}
.nav__link{
    font-weight: normal;
    font-size: 18px;
    color: #2B292D;
}
.nav__link:hover{
    font-weight: bold;
}
.nav li:last-child::after{
    font-family: 'fontawesome';
    content: '\f107';
    margin-left: 10px;
    font-size: 16px;
}
.btn{
    background-color: #3040C4;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    width: 160px;
    height: 48px;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
}
.section.maine{
    background-image: url(../img/Group1.png);
    background-size: cover;
}
.wrapper__maine{
    width: 754px;
    display: grid;
    grid-gap: 53px;
    padding-top: 60px;
    padding-bottom: 126px;
}
.wrapper__btn .btn:last-child{
    background-color: #fff;
    color: #3040C4;
}
.wrapper__btn .btn:last-child:hover{
    border: 2px solid #3040C4;
}
.wrapper__maine .section__description{
    width: 456px;
}
.wrapper__features{
    width: 1073px;
    height: 415px;
    margin: 106px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.features__item{
    width: 343px;
    height: 415px;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center; 
    border: 2px solid transparent;
    border-top: none; 
    border-radius: 0 0  8px 8px;
    transition: 1.1s;
}
.features__item:hover{
    border: 2px solid rgb(192, 192, 192);
    border-top: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 10px 10px rgb(192, 192, 192);
    transition: 1.1s;
}
.features__item> a{
    color: #3041C4;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}
.features__item .section__description{
    text-align: center;
}
.section.audience{
    background-color: #d9f2f8;   
}
.section.audience .conteiner__content{
    padding: 174px 0;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    grid-gap: 130px;
}
.audience__text{
    width: 555px;
    display: grid;
    grid-gap: 38px;
}
.up__title{
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
.section__title{
    font-weight: bold;
    font-size: 56px;
    text-align: center;
}
.audience__text .section__description{
    text-align: center;
}
.wrapper__audience{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 26px;
}
.audience__item{
    background-color: #fff;
    width: 260px;
    height: 300px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
    transition: 0.6s linear;
}
.audience__item:hover{
    background-color: #3040C4;
    color: #fff;
    cursor: pointer;
    transition: 1.1s linear;
}
.wrapper__hotspot{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 142px;
    padding-bottom: 186px;
}
.hotspot__text .up__title{
    color: #807F81;
    text-align: left;
}
.hotspot__text .section__title{
    text-align: left;
}
.hotspot__text{
    padding-top: 60px;
    display: grid;
    grid-template-columns: 462px;
    grid-gap: 38px;
}
.hotspot__img{
    text-align: center;
}
.section.trial{
    background-color: #F4F5F7;
}
.wrapper__trial{
    padding: 80px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.trial__text{
    display: grid;
    grid-gap: 32px;
}
.input__field{
    width: 360px;
    height: 46px;
}
.form__description{
    padding-top: 10px;
}
.form__description a{
    text-decoration: underline;
    color: #3142C6;
}
.trial .section__title{
    font-size: 40px;
    text-align: start;
}
.trial .section__description{
    font-size: 22px;
}

.wrapper__contacts{
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    grid-template-rows: 250px;
    padding: 56px 0;
}
.app__conteiner{
    display: grid;
    grid-template-columns: 360px;
}
.nav__title{
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 24px;
}
.nav__product ul, 
.nav__company ul{
    display: grid;
    grid-gap: 20px;
}
.footer{
    border-top: 1px solid #E5E5E5;
}
.wrapper__footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    align-items: center;
}
.footer__nav ul{
    display: grid;
    width: 276px;
    grid-template-columns: 1fr 1fr 1fr;   
}
.link__footer{
    font-size: 14px;
    color: #5c5069;
    opacity: 0.7;
}
.soc{
    margin-left: auto;
}
.soc__ikon:not(:last-child){
    margin-right: 20px;
}